*, ::after, ::before{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    background-color: rgb(233, 178, 161);
    cursor: de;
}

header{
    display: flex;
    justify-content: center;
    margin: 8.5em;
}


i{
    text-decoration: none;
    color: white;
    font-size: 60px;
    margin: 20px;
    opacity: 0.33;
}

.selected  a  i{
    opacity: 1;
}

i:hover{
    opacity: 1;
    cursor: grab;
}

